@import 'variables';
*{
  box-sizing: border-box;
  letter-spacing: 0.2px;
} 
body,html {
  font: 100% $font-stack;
  color: $primary-color;
  
}
.main-wraper{
  margin: 0 auto;
}
a {
  color: $primary-color;
  font-weight: bold;
}
a:hover,
a:focus {
  color: $primary-color;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
#frmreviews{
  li{
    list-style:none;
  }
}
button,.btnsubmit {
    background-color: #19B3FD;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 5px;
}
label{font-size:13px;}
h3{font-size: 15px;}

@import 'home';
@import 'overlay';  
@import 'media'; 